header,
nav,
aside,
main,
footer{
	color: white;
	align-items: center;
	justify-content: center;
	display: flex;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'lato', sans-serif;
}



header{
	background: darkblue;
}

nav {
	background: steelblue;
}

aside{
	background: lightblue;
}

main{
	background: purple;
}

footer {
	background: aqua;
}